<!-- Modal -->
<div id="course_modal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"   ng-click="resetFeilds();">&times;</button>
          <h4 class="modal-title"><strong>Course</strong></h4>
      </div>
      <div class="modal-body">
      <form class="form-horizontal">
       
        <div class="form-group">
                  <label for="course_id" class="col-sm-2 control-label"> Course ID</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="course.courseId" ng-disabled="doDisable" id="course_id" placeholder="Course ID">
                  </div>
        </div>
        <div class="form-group">
                  <label for="course_name1" class="col-sm-2 control-label"> Course Name</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="course.name" ng-disabled="doDisable" id="course_name1" placeholder="Course Name">
                  </div>
        </div>
        <div class="form-group">
                  <label for="Desc" class="col-sm-2 control-label">Course Description</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" ng-disabled="doDisable" id="Desc" ng-model="course.desc" placeholder="About course">
                  </div>
        </div>     
        <div class="form-group">
                  <label for="Course_Fees" class="col-sm-2 control-label">Course Fee</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="course.fee" ng-disabled="doDisable" id="Course_Fees" placeholder="Course Fee">
                  </div>
        </div>    
        <div class="form-group">
                  <label for="Duration" class="col-sm-2 control-label">Duration(Approx.)</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="Duration" ng-disabled="doDisable" ng-model="course.appDuration" placeholder="Duration">
                  </div>
        </div>
         
        
        <div class="form-group">
                  <label for="course_name1" class="col-sm-2 control-label"> No.of Current Batches : <span>9</span></label>

                  <div class="col-sm-9">
                    <a href="" class="btn btn-info">Batch-1</a>
                    <a href="" class="btn btn-info">Batch-2</a>
                    <a href="" class="btn btn-info">Batch-3</a>
                    <a href="" class="btn btn-info">Batch-4</a>
                    <a href="" class="btn btn-info">Batch-5</a>
                    <a href="" class="btn btn-info">Batch-5</a>
                    <a href="" class="btn btn-info">Batch-5</a>
                    <a href="" class="btn btn-info">Batch-5</a>
                    <a href="" class="btn btn-info">Batch-5</a>
    
                  </div>
        </div>                 
                       
      </form>
          </div>
      
      <div class="modal-footer">
       <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="manageAddorUpdateCourse();">SAVE</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetFeilds();">Close</button>
      </div>
    </div>

  </div>
</div>
<!--End of Modal-->    
     

     <section class="content-header">
      <h1>
        Courses
<!--        <small>Control panel</small>-->
         <button type="button" class="btn btn-success" data-target="#course_modal" data-toggle="modal" ng-click="onAddMode();"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp; Add Course</button>
         
      </h1>
      
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li>Courses & Batch</li>
        <li class="active">Courses</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
<!--        put your coloums here    -->
          <div class="col-xs-12">
              <div class="box">
                  <div class="box-header">
                      <h3 class="box-title">Courses</h3>
                  </div>
                 
            <div class="box-body">
              <table ng-init="loadCourses(); resetFeilds();" id="batch_attendance_table" class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                  <th>Course ID</th>
                  <th>Course Name</th>
                  <th>Course Fee</th>
                  <th>Duration(Approx.)</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>{{error}}
                   {{course}}{{doDisable}}
                    <tr ng-repeat="x in courseList">
                        <td>{{x.courseId}}</td>
                        <td>{{x.name|uppercase}}</td>
                        <td>{{x.fee|currency}}</td>
                        <td>{{x.appDuration}}</td>
                         <td><a class="btn btn-info" data-toggle="modal" data-target="#course_modal" ng-click="readCourse($index,true);" type="button"><i class="fa fa-eye"></i></a><a data-toggle="modal" data-target="#course_modal" class="btn btn-success" ng-click="readCourse($index,false);"><i class="fa fa-edit"></i></a><a class="btn btn-danger"  ng-click="deleteCourse($index);"><i class="fa fa-trash"></i></a> 
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Course ID</th>
                  <th>Course Name</th>
                  <th>Course Fee</th>
                  <th>Duration(Approx.)</th>
                  <th></th>
                </tr>
                </tfoot>
              </table>
            </div> 
              </div>
          </div> 
            
        </div>
</section>
<script>

</script>