<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="assests/css/bootstrap.min.css">
    <script src="assests/libs/angular.min.js"></script>
    <script src="assests/js/app.js"></script>
    <script src="assests/js/model.js"></script>
    <script src="assests/js/controller.js"></script>
</head>
<body ng-app="calculator" ng-controller="calcctrl">
    <form action="Controller" method="post">
       <label for="">First Number</label>
        <input type="text" name="firstNo" ng-model="firstNum" class="form-control">
        <label for="">Second No</label>
        <input type="text" name="secondNo" ng-model="secondNum" class="form-control">
        <a class="btn btn-primary" ng-click="do('add')">+</a>
        <a class="btn btn-primary" ng-click="do('subtract')">-</a>
        <a class="btn btn-primary" ng-click="do('multiply')">*</a>
        <a class="btn btn-primary" ng-click="do('divide')">/</a>
        <p> Result is {{result}}</p>
        <input type="hidden" name="result" value="{{result}}">
        <input class="btn btn-primary" type="submit" value="submit">
    </form>
</body>
</html>